<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b0e87863-8379-4a1e-b1a7-8465e0087486/resourcegroups/CompanyDirectoryRG/providers/Microsoft.Web/sites/ELearningPlatform20250925111746</ResourceId>
    <ResourceGroup>CompanyDirectoryRG</ResourceGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://elearningplatform20250925111746-b6hcfkceb7gdfde8.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e5db1846-5095-47b9-9547-3790a7ab5db2</ProjectGuid>
    <PublishUrl>https://elearningplatform20250925111746-b6hcfkceb7gdfde8.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>